{% extends 'person/base.html' %}

{% block title %}MCQTS - Contests{% endblock %}

{% block content %}

      <div class="ui container" style="margin-top: 1%;">

        <div class="ui warning label" style="font-size: 50px; margin-top: 8%;">404 ERROR</div>

        <div class="ui stackable container segment" style="margin-top: 5%;">

        <div class="ui info huge message">
          <div class="header">
            OOPS! YOU ARE AT THE WRONG URL.
          </div>
          <div>
            This page does not exist.
          </div>
        </div>
      </div>

      </div>

{% endblock %}
