{% extends 'person/base.html' %}

{% block title %}MCQTS - Account Details{% endblock %}

{% block content %}

      <div class="ui container" style="margin-top: 1%; margin-bottom: 10%">

        <h1 class="ui black header center aligned">
          <div class="ui basic massive label" style="font-size: 35px;">
            User Profile
          </div>
        </h1>

          {% if success %}
            <div class="ui success message">
                <a href = "{% url 'person:user_profile' %}">{{ success }}</a>
            </div>
          {% endif %}

        <form class="ui large form" method="POST">
                {% csrf_token %}
                <div id="fademsg" class="ui stackable center aligned container">
                  <div class="ui grey header">
                    <label>
                      Personal Details
                    </label>
                  </div>


                  <div class="ui stackable left aligned container segment" style="width: 60%;">

                    {% if user_account.image %}
                      <img style="margin-top: 3%;border-radius: 50%;" class="ui circular centered medium image" src="{{ user_account.image.url }}">
                    {% endif %}


                      <div class="field">
                        <label style="font-size:16px;">
                          User Name
                        </label>
                        <div class="ui large input">
                          {{ form.username }}
                        </div>
                      </div>

                      <div class="field">
                        <label style="font-size:16px;">
                          Email Address
                        </label>
                        <div class="ui large input">
                          {{ form.email }}
                        </div>
                      </div>

                      <div class="field">
                        <label style="font-size:16px;">
                          First Name
                        </label>
                        <div class="ui large input">
                          {{ form.firstname }}
                        </div>
                      </div>

                      <div class="field">
                        <label style="font-size:16px;">
                          Last Name
                        </label>
                        <div class="ui large input">
                          {{ form.lastname }}
                        </div>
                      </div>

                      <div class="field">
                        <label style="font-size:16px;">
                          Contact Number
                        </label>
                        <div class="ui large input">
                          {{ form.contactno }}
                        </div>
                      </div>

                      <div class="field">
                        <label style="font-size:16px;">
                          Personal Bio
                        </label>
                        <div class="ui large input">
                          {{ form.bio }}
                        </div>
                      </div>

                    </div>
                    {% if editable == 1 %}
                      <a class="ui large blue submit button" style="width: 30%;" href="{% url 'person:profile_edit' profile_slug=profile_slug %}">Edit Profile</a>
                    {% endif %}
                    <div class="ui grey header">
                      <label>
                        Working Details
                      </label>
                    </div>
                    <div class="ui stacked left aligned container segment" style="width: 60%;">

                      <div class="field">
                        <label style="font-size:16px;">
                          No of Questions Attempted
                        </label>
                        <div class="ui large input">
                          <table class="ui celled table">
                          <tbody>
                          <tr>
                            <td data-label="Contest Name">{{ number }}</td>
                          </tr>
                        </tbody>
                          </table>

                        </div>
                      </div>

                       <div class="field">
                        <label style="font-size:16px;">
                          Contests Participated
                        </label>
                        {% if contest_flag == 0 %}
                        <div class="ui container center aligned" style="width: 80%; margin-top: 2%;">
                          <div class="ui positive large message">
                              <a>{{profile_slug}} {{ contest_message }}</a>
                          </div>
                        </div>
                        {% else %}
                        <table class="ui celled table">
                        <thead>
                          <tr><th>Contest Name</th>
                          <th>Contest Rank</th>
                          <th>Contest Link</th>
                        </tr></thead>
                        <tbody>
                        {% for x in contest %}
                          <tr>
                            <td data-label="Contest Name">{{ x.name }}</td>
                            <td data-label="Contest Rank">{{ x.rank }}</td>
                            <td><a href="{% url 'person:challenge' slug=x.slug %}" target="_blank">View</a></td>
                          </tr>
                         {% endfor %}
                        </tbody>
                      </table>

                      {% endif %}
                      </div>
                      {% if is_setter == 1 %}

                       <div class="field">
                        <label style="font-size:16px;">
                          Contests Set By {{ profile_slug }}
                        </label>
                        <table class="ui celled table">
                        <thead>
                          <tr><th>Contest Name</th>
                          <th>Contest Status</th>
                          <th>Contest Link</th>
                        </tr></thead>
                        <tbody>
                        {% for x in contestset %}
                          <tr>
                            <td data-label="Contest Name">{{ x.name }}</td>
                            {% if x.status == 'C' %}
                            <td data-label="Contest Status">Completed</td>
                            {% endif %}
                            {% if x.status == 'M' %}
                            <td data-label="Contest Status">Up Coming</td>
                            {% endif %}
                            {% if x.status == 'A' %}
                            <td data-label="Contest Status">On Going</td>
                            {% endif %}
                            <td><a href="{% url 'person:challenge' slug=x.slug %}" target="_blank">View</a></td>
                          </tr>
                         {% endfor %}
                        </tbody>
                      </table>
                      </div>

                      {% endif %}

                    </div>
                </div>
            </form>


      </div>

      <script>
        $(document).ready(function() {
            // messages timeout for 10 sec
            setTimeout(function() {
                $('fademsg').fadeOut('slow');
            }, 10000); // <-- time in milliseconds, 1000 =  1 sec

            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
      </script>

{% endblock %}
